.footer {
    background-color: #11081b; /* Dark background */
    color: #fff; /* White text */
    padding: 20px;
    text-align: left;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-column h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin: 5px 0;
    cursor: pointer;
  }
  
  .footer-column ul li:hover {
    text-decoration: underline;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
  }
  
  .social-icons a:hover {
    color: #c21a9a; /* Highlight color */
  }
  
  .footer-divider {
    border: none;
    height: 1px;
    background: #fff;
    margin: 20px 0;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 14px;
  }
  
  .footer-bottom p {
    margin: 0;
   
  }
  
  
  
  