.baaackground {
  background-image: url('./rrrrrr.jpg');
  background-size: contain;
  background-position: cover;
  width: 100%;
  height: 160vh;
  position: relative;
}

.contact-container {
  color: #000; /* Set text color to black */
  text-align: center;
  padding: 50px;
}

.contact-header h1 {
  color: rgb(6, 6, 95);
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-paragraph {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.contact-details {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.contact-icon {
  font-size: 24px;
  color: #7a16ed; /* Set icon color to black */
}

.contact-item a {
  color: #000; /* Set link color to black */
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}



.contact-form {
  margin-top: 100px;
  position:absolute;
  right:200px;
  padding: 20px;
  border: 2px solid #05021a;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 19px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: none;
}

.send-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.send-button:hover {
  background-color: #0056b3;
}
.contact-logo {
  position: absolute;
  top: 70%;
  left: 80px; /* Adjust this to place the logo outside of the form */
  transform: translateY(-50%);
  width: 450px; /* Adjust logo size */
}
.ccontact-logo {
  display: block;
  margin: 0 auto 10px; /* Center the logo and add space below */
  max-width: 150px; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
}